<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
            <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-danger btn-glow btn-block" style="width: 150px;" (click)="add()">
                        <i class="ficon feather ft-plus"></i>
                        <span>New</span>
                    </button>
                </div>
            </app-breadcrumb>
        </div>
        <div class="content-body">
            <div class="just-padding">
                <div class="list-group list-group-root well">
                  <app-category-view  *ngFor="let cat of this.categoryService.categories" [category]="cat"></app-category-view>
                </div>
              </div>
        </div>
    </div>
</div>