form {
  .form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem !important;
    &.vertical {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    label {
      width: 100px;
    }
    .ng-select {
      flex: 1;
      margin-right: 1rem;
    }
    .form-control {
      flex: 1;
      height: calc(1em + 1rem + 4px);
      margin-right: 1rem;
    }

    .input-group {
      padding-right: 1rem;
      flex: 1;
      .form-control {
        margin-right: 0;
        flex: 1;
      }
    }
  }
}

.modal-backdrop {
  z-index: 1050 !important;
}

app-select-category {
  position: relative;
}

app-select-raw-category {
  position: relative;
}